
{% extends "app/company/base1.html " %}
{% block content %}

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        

<!-- ABOUT US START -->
<section class="section">
    <div class="container">
        <div class="row align-items-center">
           
            <div class="col-lg-7 col-md-8">
                <div class="about-desc ml-lg-4">
                    <center><h4 class="text-dark"><h2>About us</h2></center>
                    <br>

                    <p class="text-muted"><h2>Welcome to <h1>Dream Job Success Life ! </h1> the world's largest professional network with more than
                        830 million members In this job is available for all the states of India. </p>

                   
                   
                   <br/>
                   <br/>
                                          
                   
                   
                        <center><h4 class="text-dark"><h2>Vision</h2></center>
                   
                        <p >Create economic opportunity for every member of the global workforce.</p>

                    <br/>
                        <center><h4 class="text-dark"><h2>Mission</h2></center>
                   
                        <p><h2> The mission of <h1>Dream Job Success Life ! </h1>  is simple: Connect India's professionals to make them more productive and successful.</p>


                            </div>
            </div>
        </div>
    </div>
</section>
<!-- ABOUT US END -->

<!-- COUNTER START -->
<section class="section bg-light">
    <div class="container">
        <div class="blog-post-counter">
            <div class="row" id="counter">
                <div class="col-md-3 col-6 border-right">
                    <div class="p-4">
                        <div class="blog-post counter-content text-center">
                            <h1 class="counter-value font-weight-light text-dark mb-2" data-count="2030">0</h1>
                            <p class="counter-name text-muted f-15 text-uppercase mb-2">Jobs</p>
                            <i class="mdi mdi-account-multiple h3 text-muted"></i>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-6 border-right">
                    <div class="p-4">
                        <div class="blog-post counter-content text-center">
                            <h1 class="counter-value font-weight-light text-dark mb-2" data-count="3500">0</h1>
                            <p class="counter-name text-muted f-15 text-uppercase mb-2">Applications</p>
                            <i class="mdi mdi-file h3 text-muted"></i>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-6 border-right">
                    <div class="p-4">
                        <div class="blog-post counter-content text-center">
                            <h1 class="counter-value font-weight-light text-dark mb-2" data-count="1250">0</h1>
                            <p class="counter-name text-muted f-15 text-uppercase mb-2">Companies</p>
                            <i class="mdi mdi-bank h3 text-muted"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="p-4">
                        <div class="blog-post counter-content text-center">
                            <h1 class="counter-value font-weight-light text-dark mb-2" data-count="4000">0</h1>
                            <p class="counter-name text-muted f-15 text-uppercase mb-2">Employers</p>
                            <i class="mdi mdi-account-group h3 text-muted"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- COUNTER END -->
    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div>
                            
                            <center>
                                <div class="text-muted">
                                    <center>
                                        <p class="mb-0"> Dream Job Success Life ! . Created by Axat and Kishan <i class="mdi mdi-heart text-danger"></i> by Bhargaw Sir .</p>
                    
                                    </center>
                                </div>
                            </center>
                            
                        </div>
                    </div>
                </footer>
            </div>
        </div>




       

{% endblock %}