
{% extends "app/company/base1.html " %}
{% block content %}

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
 



<!-- ABOUT US START -->
<section class="section">
    <div class="container">
        <div class="row align-items-center">
           
            <div class="col-lg-7 col-md-8">
                <div class="about-desc ml-lg-4">
                    <center><h4 class="text-dark"><h1>Carrier</h1></center>
                    <br>

                    <p class="text-muted"><h2>Welcome to <h1>Dream Job Success Life !    </h6> the world's largest professional network with more than
                        830 million members In this job is available for all the states of India.</h6> </p>

                   
                   
                   <br/>
                   <br/>
                                          
                   
                   
                        
             
                <p>
                    <h6>

                        Our Services allow you to explore careers, evaluate educational opportunities, and seek out, and be found for, career opportunities. Your profile can be found by those looking to hire (for a job or a specific task) or be hired by you. We will use your data to recommend jobs or mentees, show you and others relevant professional contacts (e.g., who work at a company, in an industry, function or location or have certain skills and connections). You can signal that you are interested in changing jobs and share information with recruiters. We will use your data to recommend jobs to you and you to recruiters. We may use automated systems to provide content and recommendations to help make our Services more relevant to our Members, Visitors and customers. Keeping your profile accurate and up-to-date may help you better connect to others and to opportunities through our Services.
                    </h6>       
                </p>

                <p>
                    <h6>
                     This website using Change your life . And Get job  very easily .

                    </h6>
                </p>

                <p>
                    <h6>
                     Dreme job  Success life ! is success your life .  
                    </h6>
                </p>


                <p>
                    <h6>
                     Dreme job  Success life ! are Various job available . 
                    </h6>
                </p>

                
                <p>
                    <h6>
                        Our Services help you connect with others, find and be found for work and business opportunities, stay informed, get training and be more productive.

                    </h6>
                </p>

                    </div>
            </div>
        </div>
    </div>
</section>
<!-- ABOUT US END -->

<!-- COUNTER START -->
<section class="section bg-light">
    <div class="container">
        <div class="blog-post-counter">
            <div class="row" id="counter">
                <div class="col-md-3 col-6 border-right">
                    <div class="p-4">
                        <div class="blog-post counter-content text-center">
                            <h1 class="counter-value font-weight-light text-dark mb-2" data-count="2030">0</h1>
                            <p class="counter-name text-muted f-15 text-uppercase mb-2">Jobs</p>
                            <i class="mdi mdi-account-multiple h3 text-muted"></i>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-6 border-right">
                    <div class="p-4">
                        <div class="blog-post counter-content text-center">
                            <h1 class="counter-value font-weight-light text-dark mb-2" data-count="3500">0</h1>
                            <p class="counter-name text-muted f-15 text-uppercase mb-2">Applications</p>
                            <i class="mdi mdi-file h3 text-muted"></i>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-6 border-right">
                    <div class="p-4">
                        <div class="blog-post counter-content text-center">
                            <h1 class="counter-value font-weight-light text-dark mb-2" data-count="1250">0</h1>
                            <p class="counter-name text-muted f-15 text-uppercase mb-2">Companies</p>
                            <i class="mdi mdi-bank h3 text-muted"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="p-4">
                        <div class="blog-post counter-content text-center">
                            <h1 class="counter-value font-weight-light text-dark mb-2" data-count="4000">0</h1>
                            <p class="counter-name text-muted f-15 text-uppercase mb-2">Employers</p>
                            <i class="mdi mdi-account-group h3 text-muted"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- COUNTER END -->
     </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div>
                            
                            <center>
                                <div class="text-muted">
                                    <center>
                                        <p class="mb-0"> Dream Job Success Life ! . Created by Axat and Kishan <i class="mdi mdi-heart text-danger"></i> by Bhargaw Sir .</p>
                    
                                    </center>
                                </div>
                            </center>
                            
                        </div>
                    </div>
                </footer>
            </div>
        </div>




       

{% endblock %}