
{% extends "app/base2.html " %}
{% block content %}
    <!-- Start home -->
    <section class="bg-half page-next-level"> 
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center text-white">
                        <h4 class="text-uppercase title mb-4">Components</h4>
                        <ul class="page-next d-inline-block mb-0">
                            <li><a href="index.html" class="text-uppercase font-weight-bold">Home</a></li>
                            <li><a href="#" class="text-uppercase font-weight-bold">Pages</a></li> 
                            <li>
                                <span class="text-uppercase text-white font-weight-bold">Components</span> 
                            </li> 
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end home -->

    <!-- Start -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="component-wrapper rounded shadow">
                                <div class="p-4 border-bottom bg-light">
                                    <h4 class="title mb-0">Buttons</h4>
                                </div>
    
                                <div class="p-4">
                                    <h6 class="text-muted mb-4 pb-2">Ex. <code class="text-danger">&lt;a href="#" class="btn btn-primary"&gt; Primary &lt;/a&gt;</code></h6>
                                    
                                    <a href="javascript:void(0)" class="btn btn-primary mb-3 mr-2">Primary</a>
                                    <a href="javascript:void(0)" class="btn btn-secondary mb-3 mr-2">Secondary</a>
                                    <a href="javascript:void(0)" class="btn btn-success mb-3 mr-2">Success</a>
                                    <a href="javascript:void(0)" class="btn btn-danger mb-3 mr-2">Danger</a>
                                    <a href="javascript:void(0)" class="btn btn-info mb-3 mr-2">Info</a>
                                    <a href="javascript:void(0)" class="btn btn-warning mb-3 mr-2">Warning</a>
                                    <a href="javascript:void(0)" class="btn btn-light mb-3 mr-2">Light</a>
                                    <a href="javascript:void(0)" class="btn btn-dark mb-3 mr-2">Dark</a>
                                </div>
                            </div>
                        </div><!--end col-->

                        <div class="col-lg-12 mt-4 pt-2">
                            <div class="component-wrapper rounded shadow">
                                <div class="p-4 border-bottom bg-light">
                                    <h4 class="title mb-0">Buttons Pill</h4>
                                </div>
    
                                <div class="p-4">
                                    <h6 class="text-muted mb-4 pb-2">Ex. <code class="text-danger">&lt;a href="#" class="btn btn-primary rounded-pill"&gt; Primary &lt;/a&gt;</code></h6>

                                    <a href="javascript:void(0)" class="btn btn-primary rounded-pill mb-3 mr-2">Primary</a>
                                    <a href="javascript:void(0)" class="btn btn-secondary rounded-pill mb-3 mr-2">Secondary</a>
                                    <a href="javascript:void(0)" class="btn btn-success rounded-pill mb-3 mr-2">Success</a>
                                    <a href="javascript:void(0)" class="btn btn-danger rounded-pill mb-3 mr-2">Danger</a>
                                    <a href="javascript:void(0)" class="btn btn-info rounded-pill mb-3 mr-2">Info</a>
                                    <a href="javascript:void(0)" class="btn btn-warning rounded-pill mb-3 mr-2">Warning</a>
                                    <a href="javascript:void(0)" class="btn btn-light rounded-pill mb-3 mr-2">Light</a>
                                    <a href="javascript:void(0)" class="btn btn-dark rounded-pill mb-3 mr-2">Dark</a>
                                </div>
                            </div>
                        </div><!--end col-->

                        <div class="col-lg-12 mt-4 pt-2">
                            <div class="component-wrapper rounded shadow">
                                <div class="p-4 border-bottom bg-light">
                                    <h4 class="title mb-0">Buttons Outline</h4>
                                </div>
    
                                <div class="p-4">
                                    <h6 class="text-muted mb-4 pb-2">Ex. <code class="text-danger">&lt;a href="#" class="btn btn-primary-outline"&gt; Primary &lt;/a&gt;</code></h6>

                                    <a href="javascript:void(0)" class="btn btn-primary-outline mb-3 mr-2">Primary</a>
                                    <a href="javascript:void(0)" class="btn btn-secondary-outline mb-3 mr-2">Secondary</a>
                                    <a href="javascript:void(0)" class="btn btn-success-outline mb-3 mr-2">Success</a>
                                    <a href="javascript:void(0)" class="btn btn-danger-outline mb-3 mr-2">Danger</a>
                                    <a href="javascript:void(0)" class="btn btn-info-outline mb-3 mr-2">Info</a>
                                    <a href="javascript:void(0)" class="btn btn-warning-outline mb-3 mr-2">Warning</a>
                                    <a href="javascript:void(0)" class="btn btn-light-outline mb-3 mr-2">Light</a>
                                    <a href="javascript:void(0)" class="btn btn-dark-outline mb-3 mr-2">Dark</a>
                                </div>
                            </div>
                        </div><!--end col-->

                        <div class="col-lg-12 mt-4 pt-2">
                            <div class="component-wrapper rounded shadow">
                                <div class="p-4 border-bottom bg-light">
                                    <h4 class="title mb-0">Button Sizing</h4>
                                </div>
    
                                <div class="p-4">
                                    <h6 class="text-muted mb-4 pb-2">Ex. <code class="text-danger">&lt;a href="#" class="btn btn-primary btn-sm"&gt; Primary &lt;/a&gt;</code></h6>

                                    <a href="javascript:void(0)" class="btn btn-primary btn-sm mb-3 mr-2">Primary</a>
                                    <a href="javascript:void(0)" class="btn btn-warning mb-3 mr-2">Warning</a>
                                    <a href="javascript:void(0)" class="btn btn-success btn-lg mb-3 mr-2">Success</a>
                                </div>
                            </div>
                        </div><!--end col-->

                        <div class="col-lg-12 mt-4 pt-2">
                            <div class="component-wrapper rounded shadow">
                                <div class="p-4 border-bottom bg-light">
                                    <h4 class="title mb-0">Accordions</h4>
                                </div>
    
                                <div class="p-4">
                                    <div class="faq-content">
                                        <div class="accordion" id="accordionExample">
                                            <div class="card border rounded shadow mb-2">
                                                <a data-toggle="collapse" href="#collapseOne" class="faq position-relative" aria-expanded="true" aria-controls="collapseOne">
                                                    <div class="card-header bg-light p-3" id="headingOne">
                                                        <h4 class="title mb-0 faq-question"> Accordion #1 </h4>
                                                    </div>
                                                </a>
                                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        <p class="text-muted mb-0 faq-ans">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                                                    </div>
                                                </div>
                                            </div>
            
                                            <div class="card border rounded shadow mb-2">
                                                <a data-toggle="collapse" href="#collapseTwo" class="faq position-relative collapsed" aria-expanded="false" aria-controls="collapseTwo">
                                                    <div class="card-header bg-light p-3" id="headingTwo">
                                                        <h4 class="title mb-0 faq-question"> Accordion #2 </h4>
                                                    </div>
                                                </a>
                                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        <p class="text-muted mb-0 faq-ans">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                                                    </div>
                                                </div>
                                            </div>
            
                                            <div class="card rounded shadow mb-0">
                                                <a data-toggle="collapse" href="#collapsefive" class="faq position-relative collapsed" aria-expanded="false" aria-controls="collapsefive">
                                                    <div class="card-header bg-light p-3" id="headingfive">
                                                        <h4 class="title mb-0 faq-question"> Accordion #3 </h4>
                                                    </div>
                                                </a>
                                                <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        <p class="text-muted mb-0 faq-ans">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--end col-->

                        <div class="col-lg-12 mt-4 pt-2">
                            <div class="component-wrapper rounded shadow">
                                <div class="p-4 border-bottom bg-light">
                                    <h4 class="title mb-0"> Text Color </h4>
                                </div>
    
                                <div class="p-4">
                                    <h6 class="text-muted mb-4 pb-2">Ex. <code class="text-danger">&lt;div class="text-primary"&gt; Landrick Saas & Software Template &lt;/div&gt;</code></h6>

                                    <h6 class="text-primary">.text-primary</h6>
                                    <h6 class="text-secondary">.text-secondary</h6>
                                    <h6 class="text-success">.text-success</h6>
                                    <h6 class="text-danger">.text-danger</h6>
                                    <h6 class="text-warning">.text-warning</h6>
                                    <h6 class="text-info">.text-info</h6>
                                    <h6 class="text-light bg-dark">.text-light</h6>
                                    <h6 class="text-white bg-dark">.text-white</h6>
                                    <h6 class="text-white-50 bg-dark">.text-white-50</h6>
                                    <h6 class="text-dark">.text-dark</h6>
                                </div>
                            </div>
                        </div><!--end col-->                            

                        <div class="col-lg-12 mt-4 pt-2">
                            <div class="component-wrapper rounded shadow">
                                <div class="p-4 border-bottom bg-light">
                                    <h4 class="title mb-0"> Avatars </h4>
                                </div>
    
                                <div class="p-4">
                                    <h6 class="text-muted mb-4 pb-2">Ex. <code class="text-danger">&lt;img src="images/home/01.jpg" class="img-fluid avatar avatar-small mr-3 rounded-pill"&gt;</code></h6>
                                    
                                    <img src="https://via.placeholder.com/400X400//88929f/5a6270C/O https://placeholder.com/" class="img-fluid avatar avatar-small mr-3 rounded-pill" alt="">
                                    <img src="https://via.placeholder.com/400X400//88929f/5a6270C/O https://placeholder.com/" class="img-fluid avatar avatar-medium mr-3 rounded-pill" alt="">
                                    <img src="https://via.placeholder.com/400X400//88929f/5a6270C/O https://placeholder.com/" class="img-fluid avatar avatar-large mr-3 rounded-pill" alt="">
                                </div>
                            </div>
                        </div><!--end col-->
                        
                        <div class="col-lg-12 mt-4 pt-2">
                            <div class="component-wrapper rounded shadow">
                                <div class="p-4 border-bottom bg-light">
                                    <h4 class="title mb-0"> Google Map </h4>
                                </div>
    
                                <div class="p-4">
                                    <div class="map">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39206.002432144705!2d-95.4973981212445!3d29.709510002925988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640c16de81f3ca5%3A0xf43e0b60ae539ac9!2sGerald+D.+Hines+Waterwall+Park!5e0!3m2!1sen!2sin!4v1566305861440!5m2!1sen!2sin" class="rounded" style="border:0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div><!--end col-->

                        <div class="col-lg-12 mt-4 pt-2">
                            <div class="component-wrapper rounded shadow">
                                <div class="p-4 border-bottom bg-light">
                                    <h4 class="title mb-0"> Nav Tabs </h4>
                                </div>
    
                                <div class="p-4">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <ul class="nav nav-pills nav nav-pills bg-white rounded nav-justified flex-column flex-sm-row" id="pills-tab" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link rounded active" id="pills-cloud-tab" data-toggle="pill" href="#pills-cloud" role="tab" aria-controls="pills-cloud" aria-selected="true">Home</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link rounded" id="pills-smart-tab" data-toggle="pill" href="#pills-smart" role="tab" aria-controls="pills-smart" aria-selected="false">About</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link rounded" id="pills-apps-tab" data-toggle="pill" href="#pills-apps" role="tab" aria-controls="pills-apps" aria-selected="false">Service</a>
                                                </li>
                                            </ul>
                                        </div><!--end col-->
                                    </div><!--end row-->

                                    <div class="row mt-4 pt-2">
                                        <div class="col-12">
                                            <div class="tab-content" id="pills-tabContent">
                                                <div class="tab-pane fade show active" id="pills-cloud" role="tabpanel" aria-labelledby="pills-cloud-tab">
                                                    <p class="text-muted mb-0">You can combine all the Landrick templates into a single one, you can take a component from the Application theme and use it in the Website.</p>
                                                </div><!--end teb pane-->
                                                
                                                <div class="tab-pane fade" id="pills-smart" role="tabpanel" aria-labelledby="pills-smart-tab">
                                                    <p class="text-muted mb-0">You can combine all the Landrick templates into a single one, you can take a component from the Application theme and use it in the Website.</p>                       
                                                </div><!--end teb pane-->
                    
                                                <div class="tab-pane fade" id="pills-apps" role="tabpanel" aria-labelledby="pills-apps-tab">
                                                    <p class="text-muted mb-0">You can combine all the Landrick templates into a single one, you can take a component from the Application theme and use it in the Website.</p>                       
                                                </div><!--end teb pane-->
                                            </div><!--end tab content-->
                                        </div><!--end col-->
                                    </div><!--end row-->
                                </div>
                            </div>
                        </div><!--end col-->

                        <div class="col-lg-12 mt-4 pt-2">
                            <div class="component-wrapper rounded shadow">
                                <div class="p-4 border-bottom bg-light">
                                    <h4 class="title mb-0"> Breadcrumb </h4>
                                </div>
    
                                <div class="p-4 bg-dark rounded-bottom page-next-level">
                                    <ul class="page-next d-inline-block mb-0">
                                        <li><a href="#" class="text-uppercase font-weight-bold">Home</a></li>
                                        <li><a href="#" class="text-uppercase font-weight-bold">Pages</a></li> 
                                        <li>
                                            <span class="text-uppercase text-white font-weight-bold">Components</span> 
                                        </li> 
                                    </ul>
                                </div>
                            </div>
                        </div><!--end col-->

                        <div class="col-lg-12 mt-4 pt-2">
                            <div class="component-wrapper rounded shadow">
                                <div class="p-4 border-bottom bg-light">
                                    <h4 class="title mb-0"> Pagination </h4>
                                </div>
    
                                <div class="p-4">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination mb-0 job-pagination">
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                                    <i class="mdi mdi-chevron-double-left f-15"></i>
                                                </a>
                                            </li>
                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#">
                                                    <i class="mdi mdi-chevron-double-right f-15"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div><!--end col-->

                        <div class="col-lg-12 mt-4 pt-2">
                            <div class="component-wrapper rounded shadow">
                                <div class="p-4 border-bottom bg-light">
                                    <h4 class="title mb-0"> Icons </h4>
                                </div>
    
                                <div class="p-4">
                                    <h6>Material Design Icons</h6>
                                    <p class="text-muted">There are 4400+ Material Design icons and you can get all icons info from here: <a href="https://materialdesignicons.com/" target="_blank"><code class="text-primary">https://materialdesignicons.com/</code></a></p>
                                    <h6 class="text-muted mb-4 pb-2">Ex. <code class="text-danger">&lt;i class="mdi mdi-home"&gt; &lt;/i&gt;</code></h6>

                                    <i class="mdi mdi-home h4 mr-2"></i>
                                    <i class="mdi mdi-facebook h4 mr-2"></i>
                                    <i class="mdi mdi-chevron-tight h4 mr-2"></i>
                                    <i class="mdi mdi-camera-image h4 mr-2"></i>
                                    <i class="mdi mdi-car-light-high h4 mr-2"></i>
                                    <i class="mdi mdi-silverware-fork-knife h4 mr-2"></i>
                                </div>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end col-->

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12 mt-4 mt-lg-0 pt-2 pt-lg-0">
                            <div class="component-wrapper rounded shadow">
                                <div class="p-4 border-bottom bg-light">
                                    <h4 class="title mb-0"> Typography </h4>
                                </div>
    
                                <div class="p-4">
                                    <h6 class="text-muted mb-4 pb-2">Ex. <code class="text-danger">&lt;h1&gt; H1. Bootstrap heading &lt;/h1&gt;</code></h6>
                                    
                                    <h1>H1. Bootstrap heading</h1>
                                    <h2>H2. Bootstrap heading</h2>
                                    <h3>H3. Bootstrap heading</h3>
                                    <h4>H4. Bootstrap heading</h4>
                                    <h5>H5. Bootstrap heading</h5>
                                    <h6>H6. Bootstrap heading</h6>
                                </div>
                            </div>
                        </div><!--end col-->

                        <div class="col-lg-12 mt-4 pt-2">
                            <div class="component-wrapper rounded shadow">
                                <div class="p-4 border-bottom bg-light">
                                    <h4 class="title mb-0"> Display Heading </h4>
                                </div>
    
                                <div class="p-4">
                                    <h6 class="text-muted mb-4 pb-2">Ex. <code class="text-danger">&lt;p class="display-1"&gt; Display 1 &lt;/p&gt;</code></h6>
                                    
                                    <p class="display-1">Display 1</p>
                                    <p class="display-2">Display 2</p>
                                    <p class="display-3">Display 3</p>
                                    <p class="display-4">Display 4</p>
                                </div>
                            </div>
                        </div><!--end col-->
                        
                        <div class="col-lg-12 mt-4 pt-2">
                            <div class="component-wrapper rounded shadow">
                                <div class="p-4 border-bottom bg-light">
                                    <h4 class="title mb-0"> Badges </h4>
                                </div>
    
                                <div class="p-4">
                                    <h6 class="text-muted mb-4 pb-2">Ex. <code class="text-danger">&lt;span class="badge badge-primary"&gt; primary &lt;/span&gt;</code></h6>

                                    <span class="badge badge-primary mr-2 mb-2">Primary</span>
                                    <span class="badge badge-secondary mr-2 mb-2">Secondary</span>
                                    <span class="badge badge-success mr-2 mb-2">Success</span>
                                    <span class="badge badge-danger mr-2 mb-2">Danger</span>
                                    <span class="badge badge-warning mr-2 mb-2">Warning</span>
                                    <span class="badge badge-info mr-2 mb-2">Info</span>
                                    <span class="badge badge-light mr-2 mb-2">Light</span>
                                    <span class="badge badge-dark mr-2 mb-2">Dark</span>
                                </div>
                            </div>
                        </div><!--end col-->

                        <div class="col-lg-12 mt-4 pt-2">
                            <div class="component-wrapper rounded shadow">
                                <div class="p-4 border-bottom bg-light">
                                    <h4 class="title mb-0"> Pill Badges </h4>
                                </div>
    
                                <div class="p-4">
                                    <h6 class="text-muted mb-4 pb-2">Ex. <code class="text-danger">&lt;span class="badge badge-primary rounded"&gt; primary &lt;/span&gt;</code></h6>

                                    <span class="badge badge-primary rounded mr-2 mb-2">Primary</span>
                                    <span class="badge badge-secondary rounded mr-2 mb-2">Secondary</span>
                                    <span class="badge badge-success rounded mr-2 mb-2">Success</span>
                                    <span class="badge badge-danger rounded mr-2 mb-2">Danger</span>
                                    <span class="badge badge-warning rounded mr-2 mb-2">Warning</span>
                                    <span class="badge badge-info rounded mr-2 mb-2">Info</span>
                                    <span class="badge badge-light rounded mr-2 mb-2">Light</span>
                                    <span class="badge badge-dark rounded mr-2 mb-2">Dark</span>
                                </div>
                            </div>
                        </div><!--end col-->

                        <div class="col-lg-12 mt-4 pt-2">
                            <div class="component-wrapper rounded shadow">
                                <div class="p-4 border-bottom bg-light">
                                    <h4 class="title mb-0"> Alert </h4>
                                </div>
    
                                <div class="p-4">
                                    <h6 class="text-muted mb-4 pb-2">Ex. <code class="text-danger">&lt;div class="alert alert-primary" role="alert"&gt; A simple primary alert—check it out! &lt;/div&gt;</code></h6>

                                    <div class="alert alert-primary" role="alert"> A simple primary alert—check it out!</div>
                                    <div class="alert alert-secondary" role="alert"> A simple secondary alert—check it out!</div>
                                    <div class="alert alert-success" role="alert"> A simple success alert—check it out!</div>
                                    <div class="alert alert-danger" role="alert"> A simple danger alert—check it out!</div>
                                    <div class="alert alert-warning" role="alert"> A simple warning alert—check it out!</div>
                                    <div class="alert alert-info" role="alert"> A simple info alert—check it out!</div>
                                    <div class="alert alert-light" role="alert"> A simple light alert—check it out!</div>
                                    <div class="alert alert-dark" role="alert"> A simple dark alert—check it out!</div>
                                </div>
                            </div>
                        </div><!--end col-->

                        <div class="col-lg-12 mt-4 pt-2">
                            <div class="component-wrapper rounded shadow">
                                <div class="p-4 border-bottom bg-light">
                                    <h4 class="title mb-0"> Forms </h4>
                                </div>
    
                                <div class="p-4">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group position-relative">
                                                    <label>Your Name <span class="text-danger">*</span></label>
                                                    <input name="name" id="name" type="text" class="form-control" placeholder="First Name :">
                                                </div>
                                            </div><!--end col-->
                                            <div class="col-md-6">
                                                <div class="form-group position-relative">
                                                    <label>Your Email <span class="text-danger">*</span></label>
                                                    <input name="email" id="email" type="email" class="form-control" placeholder="Your email :">
                                                </div> 
                                            </div><!--end col-->
                                            <div class="col-md-12">
                                                <div class="form-group position-relative">
                                                    <label>Subject</label>
                                                    <input name="subject" id="subject" class="form-control" placeholder="Your subject :">
                                                </div>                                                                               
                                            </div><!--end col-->
                                            <div class="col-md-12">
                                                <div class="form-group position-relative">
                                                    <label>Comments</label>
                                                    <textarea name="comments" id="comments" rows="4" class="form-control" placeholder="Your Message :"></textarea>
                                                </div>
                                            </div>
                                        </div><!--end row-->
                                        <div class="row">
                                            <div class="col-sm-12 text-center">
                                                <input type="submit" id="submit" name="send" class="btn btn-primary" value="Send Message">
                                            </div><!--end col-->
                                        </div><!--end row-->
                                    </form><!--end form-->
                                </div>
                            </div>
                        </div><!--end col-->

                        <div class="col-lg-12 mt-4 pt-2">
                            <div class="component-wrapper rounded shadow">
                                <div class="p-4 border-bottom bg-light">
                                    <h4 class="title mb-0"> Progressbar </h4>
                                </div>

                                <div class="p-4">
                                    <div class="progress-box">
                                        <h6 class="title text-muted">WordPress</h6>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped position-relative bg-primary" style="width:84%;">
                                                <div class="progress-value d-block text-muted h6">84%</div>
                                            </div>
                                        </div>
                                    </div><!--end process box-->
                                    <div class="progress-box mt-4">
                                        <h6 class="title text-muted">PHP / MYSQL</h6>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped position-relative bg-primary" style="width:75%;">
                                                <div class="progress-value d-block text-muted h6">75%</div>
                                            </div>
                                        </div>
                                    </div><!--end process box-->
                                    <div class="progress-box mt-4">
                                        <h6 class="title text-muted">Angular / JavaScript</h6>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped position-relative bg-primary" style="width:79%;">
                                                <div class="progress-value d-block text-muted h6">79%</div>
                                            </div>
                                        </div>
                                    </div><!--end process box-->
                                    <div class="progress-box mt-4">
                                        <h6 class="title text-muted">HTML / CSS</h6>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped position-relative bg-primary" style="width:95%;">
                                                <div class="progress-value d-block text-muted h6">95%</div>
                                            </div>
                                        </div>
                                    </div><!--end process box-->
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 mt-4 pt-2">
                            <div class="component-wrapper rounded shadow">
                                <div class="p-4 border-bottom bg-light">
                                    <h4 class="title mb-0"> Checkboxes </h4>
                                </div>

                                <div class="p-4">
                                    <div class="form-check form-check-inline">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1">One</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck2">
                                                <label class="custom-control-label" for="customCheck2">Two</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" disabled id="customCheck3">
                                                <label class="custom-control-label" for="customCheck3">Disabled</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--end col-->

                        <div class="col-lg-12 mt-4 pt-2">
                            <div class="component-wrapper rounded shadow">
                                <div class="p-4 border-bottom bg-light">
                                    <h4 class="title mb-0"> Radio Buttons </h4>
                                </div>

                                <div class="p-4">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <div class="form-group">
                                            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio1">Yes</label>
                                        </div>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <div class="form-group">
                                            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio2">No</label>
                                        </div>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <div class="form-group">
                                            <input type="radio" id="customRadio3" name="customRadio" disabled class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio3">Disabled</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--end col-->

                        <div class="col-lg-12 mt-4 pt-2">
                            <div class="component-wrapper rounded shadow">
                                <div class="p-4 border-bottom bg-light">
                                    <h4 class="title mb-0"> Switches Button </h4>
                                </div>

                                <div class="p-4">
                                    <div class="custom-control custom-switch">
                                        <div class="form-group">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                            <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
                                        </div>
                                    </div>
                                    <div class="custom-control custom-switch">
                                        <div class="form-group">
                                            <input type="checkbox" class="custom-control-input" disabled id="customSwitch2">
                                            <label class="custom-control-label" for="customSwitch2">Disabled switch element</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--end col-->

                        <div class="col-lg-12 mt-4 pt-2">
                            <div class="component-wrapper rounded shadow">
                                <div class="p-4 border-bottom bg-light">
                                    <h4 class="title mb-0"> Subscribe Form </h4>
                                </div>
    
                                <div class="p-4">
                                    <form>
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <input name="email" id="email2" type="email" class="form-control" placeholder="Your email :" required aria-describedby="newssubscribebtn">
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary submitBnt" type="submit" id="newssubscribebtn">Subscribe</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form><!--end form-->
                                </div>
                            </div>
                        </div><!--end col-->

                        <div class="col-lg-12 mt-4 pt-2">
                            <div class="component-wrapper rounded shadow">
                                <div class="p-4 border-bottom bg-light">
                                    <h4 class="title mb-0"> Blockquotes </h4>
                                </div>
    
                                <div class="p-4">
                                    <blockquote class="blockquote p-3">
                                        <p class="text-muted mb-0 font-italic">" There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. "</p>
                                    </blockquote>
                                </div>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->
    <!-- End -->

  {% endblock %}