
 {% extends "app/base2.html " %}
 {% block content %}   
    <!-- Start home -->
    <section class="bg-half page-next-level"> 
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center text-white">
                        <h4 class="text-uppercase title mb-4">F.A.Q</h4>
                        <ul class="page-next d-inline-block mb-0">
                            <li><a href="{% url 'faqpage' %}" class="text-uppercase font-weight-bold">Home</a></li>
                            <li><a href="#" class="text-uppercase font-weight-bold">Pages</a></li> 
                            <li>
                                <span class="text-uppercase text-white font-weight-bold">F.A.Q.</span> 
                            </li> 
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end home -->

    <!-- FAQ START -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="faq-content">
                        <h4 class="text-dark">General Questions :</h4>
                        <div class="faq-content mt-3">
                            <div class="accordion" id="accordionExample">
                                <div class="card border rounded shadow mb-3">
                                    <a data-toggle="collapse" href="#collapseOne" class="faq position-relative" aria-expanded="true" aria-controls="collapseOne">
                                        <div class="card-header bg-light p-3" id="headingOne">
                                            <h4 class="title mb-0 faq-question"> Ut feugiat eleifend metus ?</h4>
                                        </div>
                                    </a>
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p class="text-muted mb-0 faq-ans">Temporibus autem quibusdam aut officiis debitis aut rerum necessitatibus saepe eveniet voluptates repudiandae sint et molestiae non recusandae that Itaque earum rerum sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis was doloribus asperiores repellat sed ut perspiciatis unde omnis iste natus error at accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="card border rounded shadow mb-3">
                                    <a data-toggle="collapse" href="#collapseTwo" class="faq position-relative collapsed" aria-expanded="false" aria-controls="collapseTwo">
                                        <div class="card-header bg-light p-3" id="headingTwo">
                                            <h4 class="title mb-0 faq-question"> Vitae sapien libero faucibus ? </h4>
                                        </div>
                                    </a>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p class="text-muted mb-0 faq-ans">Temporibus autem quibusdam aut officiis debitis aut rerum necessitatibus saepe eveniet voluptates repudiandae sint et molestiae non recusandae that Itaque earum rerum sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis was doloribus asperiores repellat sed ut perspiciatis unde omnis iste natus error at accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="card border rounded shadow mb-3">
                                    <a data-toggle="collapse" href="#collapsethree" class="faq position-relative collapsed" aria-expanded="false" aria-controls="collapsethree">
                                        <div class="card-header bg-light p-3" id="headingthree">
                                            <h4 class="title mb-0 faq-question"> Feugiat viverra varius ? </h4>
                                        </div>
                                    </a>
                                    <div id="collapsethree" class="collapse" aria-labelledby="headingthree" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p class="text-muted mb-0 faq-ans">Temporibus autem quibusdam aut officiis debitis aut rerum necessitatibus saepe eveniet voluptates repudiandae sint et molestiae non recusandae that Itaque earum rerum sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis was doloribus asperiores repellat sed ut perspiciatis unde omnis iste natus error at accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="card border rounded shadow mb-3">
                                    <a data-toggle="collapse" href="#collapsefour" class="faq position-relative collapsed" aria-expanded="false" aria-controls="collapsefour">
                                        <div class="card-header bg-light p-3" id="headingfour">
                                            <h4 class="title mb-0 faq-question"> Tincidunt Cras a semper ? </h4>
                                        </div>
                                    </a>
                                    <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p class="text-muted mb-0 faq-ans">Temporibus autem quibusdam aut officiis debitis aut rerum necessitatibus saepe eveniet voluptates repudiandae sint et molestiae non recusandae that Itaque earum rerum sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis was doloribus asperiores repellat sed ut perspiciatis unde omnis iste natus error at accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="card rounded shadow mb-0">
                                    <a data-toggle="collapse" href="#collapsefive" class="faq position-relative collapsed" aria-expanded="false" aria-controls="collapsefive">
                                        <div class="card-header bg-light p-3" id="headingfive">
                                            <h4 class="title mb-0 faq-question"> Feugiat viverra varius ? </h4>
                                        </div>
                                    </a>
                                    <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p class="text-muted mb-0 faq-ans">Temporibus autem quibusdam aut officiis debitis aut rerum necessitatibus saepe eveniet voluptates repudiandae sint et molestiae non recusandae that Itaque earum rerum sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis was doloribus asperiores repellat sed ut perspiciatis unde omnis iste natus error at accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="faq-content mt-5">
                        <h4 class="text-dark">Career Faq :</h4>

                        <div class="faq-content mt-3">
                            <div class="accordion" id="accordionExample2">
                                <div class="card border rounded shadow mb-3">
                                    <a data-toggle="collapse" href="#collapsesix" class="faq collapsed position-relative" aria-expanded="true" aria-controls="collapsesix">
                                        <div class="card-header bg-light p-3" id="headingsix">
                                            <h6 class="title mb-0 faq-question">Quisque condimentum tempor ?</h6>
                                        </div>
                                    </a>
                                    <div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#accordionExample2">
                                        <div class="card-body">
                                            <p class="text-muted mb-0 faq-ans">Temporibus autem quibusdam aut officiis debitis aut rerum necessitatibus saepe eveniet voluptates repudiandae sint et molestiae non recusandae that Itaque earum rerum sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis was doloribus asperiores repellat sed ut perspiciatis unde omnis iste natus error at accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- collapse one end -->

                                <div class="card border rounded shadow mb-3">
                                    <a data-toggle="collapse" href="#collapsesevan" class="faq collapsed position-relative" aria-expanded="false" aria-controls="collapsesevan">
                                        <div class="card-header bg-light p-3" id="headingsevan">
                                            <h6 class="title mb-0 faq-question">Etiam us imperdiet orci ?</h6>
                                        </div>
                                    </a>
                                    <div id="collapsesevan" class="collapse" aria-labelledby="headingsevan" data-parent="#accordionExample2">
                                        <div class="card-body">
                                            <p class="text-muted mb-0 faq-ans">Temporibus autem quibusdam aut officiis debitis aut rerum necessitatibus saepe eveniet voluptates repudiandae sint et molestiae non recusandae that Itaque earum rerum sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis was doloribus asperiores repellat sed ut perspiciatis unde omnis iste natus error at accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- collapse two end -->

                                <div class="card border rounded shadow mb-3">
                                    <a data-toggle="collapse" href="#collapseeight" class="faq collapsed position-relative" aria-expanded="false" aria-controls="collapseeight">
                                        <div class="card-header bg-light p-3" id="headingeight">
                                            <h6 class="title mb-0 faq-question">Sed posuere vulputate ?</h6>
                                        </div>
                                    </a>
                                    <div id="collapseeight" class="collapse" aria-labelledby="headingeight" data-parent="#accordionExample2">
                                        <div class="card-body">
                                            <p class="text-muted mb-0 faq-ans">Temporibus autem quibusdam aut officiis debitis aut rerum necessitatibus saepe eveniet voluptates repudiandae sint et molestiae non recusandae that Itaque earum rerum sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis was doloribus asperiores repellat sed ut perspiciatis unde omnis iste natus error at accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- collapse three end -->

                                <div class="card border rounded shadow mb-3">
                                    <a data-toggle="collapse" href="#collapsenine" class="faq collapsed position-relative" aria-expanded="false" aria-controls="collapsenine">
                                        <div class="card-header bg-light p-3" id="headingnine">
                                            <h6 class="title mb-0 faq-question">Fusce at felis luctus ?</h6>
                                        </div>
                                    </a>
                                    <div id="collapsenine" class="collapse" aria-labelledby="headingnine" data-parent="#accordionExample2">
                                        <div class="card-body">
                                            <p class="text-muted mb-0 faq-ans">Temporibus autem quibusdam aut officiis debitis aut rerum necessitatibus saepe eveniet voluptates repudiandae sint et molestiae non recusandae that Itaque earum rerum sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis was doloribus asperiores repellat sed ut perspiciatis unde omnis iste natus error at accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- collapse four end -->

                                <div class="card border rounded shadow mb-0">
                                    <a data-toggle="collapse" href="#collapseten" class="faq collapsed position-relative" aria-expanded="false" aria-controls="collapseten">
                                        <div class="card-header bg-light p-3" id="headingten">
                                            <h6 class="title mb-0 faq-question">Vestibulum a aliquam leo ?</h6>
                                        </div>
                                    </a>
                                    <div id="collapseten" class="collapse" aria-labelledby="headingten" data-parent="#accordionExample2">
                                        <div class="card-body">
                                            <p class="text-muted mb-0 faq-ans">Temporibus autem quibusdam aut officiis debitis aut rerum necessitatibus saepe eveniet voluptates repudiandae sint et molestiae non recusandae that Itaque earum rerum sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis was doloribus asperiores repellat sed ut perspiciatis unde omnis iste natus error at accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- FAQ END -->
{% endblock %}

   