
{% extends "app/base2.html" %}
{% block content %}

    <!-- Start Home -->
    <section class="bg-home" style="background: url('https://via.placeholder.com/2000X1333//88929f/5a6270C/O https://placeholder.com/') center center;">
        <div class="bg-overlay"></div>
        <div class="home-center">
            <div class="home-desc-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="title-heading text-center text-white">
                                <h6 class="small-title text-uppercase text-light mb-3">Find jobs, create trackable resumes and enrich your applications.</h6>
                                <h1 class="heading font-weight-bold mb-4">The Easiest Way to Get Your New Job</h1>
                            </div>
                        </div>
                    </div>
                <form  method="post" action="{% url 'jobserchpage' %}" >
                    {% csrf_token %}
                    
                                                    
                    <div class="home-form-position">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="home-registration-form p-4 mb-3">
                                    <form class="registration-form">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-6">
                                                <div class="registration-form-box">
                                                    <i class="fa fa-briefcase"></i>
                                                    <input type="text" name="jobkey" class="form-control rounded registration-input-box" placeholder="Job keybords...">
                                                    
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <div class="registration-form-box">
                                                    <i class="fa fa-location-arrow"></i>
                                                    <select id="select-country" class="demo-default">
                                                        <option value="">Location</option>
                                                        <option value=”Andaman and Nicobar Islands”>Andaman and Nicobar Islands</option>
                                                        <option value=”Andhra Pradesh”>Andhra Pradesh</option>
                                                        <option value=”Arunachal Pradesh”>Arunachal Pradesh</option>
                                                        <option value=”Assam”>Assam</option>
                                                        <option value=”Bihar”>Bihar</option>
                                                        <option value=”Chandigarh”>Chandigarh</option>
                                                        <option value=”Chhattisgarh”>Chhattisgarh</option>
                                                        <option value=”Dadra and Nagar Haveli”>Dadra and Nagar Haveli</option>
                                                        <option value=”Daman and Diu”>Daman and Diu</option>
                                                        <option value=”Delhi”>Delhi</option>
                                                        <option value=”Goa”>Goa</option>
                                                        <option value=”Gujarat”>Gujarat</option>
                                                        <option value=”Haryana”>Haryana</option>
                                                        <option value=”Himachal Pradesh”>Himachal Pradesh</option>
                                                        <option value=”Jammu and Kashmir”>Jammu and Kashmir</option>
                                                        <option value=”Jharkhand”>Jharkhand</option>
                                                        <option value=”Karnataka”>Karnataka</option>
                                                        <option value=”Kerala”>Kerala</option>
                                                        <option value=”Lakshadweep”>Lakshadweep</option>
                                                        <option value=”Madhya Pradesh”>Madhya Pradesh</option>
                                                        <option value=”Maharashtra”>Maharashtra</option>
                                                        <option value=”Manipur”>Manipur</option>
                                                        <option value=”Meghalaya”>Meghalaya</option>
                                                        <option value=”Mizoram”>Mizoram</option>
                                                        <option value=”Nagaland”>Nagaland</option>
                                                        <option value=”Orissa”>Orissa</option>
                                                        <option value=”Pondicherry”>Pondicherry</option>
                                                        <option value=”Punjab”>Punjab</option>
                                                        <option value=”Rajasthan”>Rajasthan</option>
                                                        <option value=”Sikkim”>Sikkim</option>
                                                        <option value=”Tamil Nadu”>Tamil Nadu</option>
                                                        <option value=”Tripura”>Tripura</option>
                                                        <option value=”Uttaranchal”>Uttaranchal</option>
                                                        <option value=”Uttar Pradesh”>Uttar Pradesh</option>
                                                        <option value=”West Bengal”>West Bengal</option>  </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <div class="registration-form-box">
                                                    <i class="fa fa-list-alt"></i>
                                                    <select id="select-category" class="demo-default">
                                                        <option value="">Categories...</option>
                                                        <option value="4">Accounting</option>
                                                        <option value="1">IT & Software</option>
                                                        <option value="3">Marketing</option>
                                                        <option value="5">Banking</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6">
                                                <div class="registration-form-box">
                                                    <input type="submit"  name="send" class="submitBnt btn btn-primary btn-block" value="Submit">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </section>
    <!-- end home -->

    <!-- all jobs start -->
    <section class="section bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="section-title text-center mb-4 pb-2">
                        <h4 class="title title-line pb-5">Find Your Jobs</h4>
                        <p class="text-muted para-desc mx-auto mb-1">Post a job to tell us about your project. We'll quickly match you with the right freelancers.</p>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12">
                    {% if all_job %}
                    {% for i in all_job %}
                    <div class="tab-content mt-2" id="pills-tabContent" >
                        <div class="tab-pane fade show active" id="recent-job" role="tabpanel" aria-labelledby="recent-job-tab">
                            <div class="row">
                                <div class="col-lg-12">

                                    <div class="job-box bg-white overflow-hidden border rounded mt-4 position-relative overflow-hidden">
                                        <div class="lable text-center pt-2 pb-2">
                                            <ul class="list-unstyled best text-white mb-0 text-uppercase">
                                                <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                            </ul>
                                        </div>
                                        <div class="p-4">
                                            <div class="row align-items-center">
                                    
                                                <div class="col-md-2">
                                                    <div class="mo-mb-2">
                                                        <img src="images/featured-job/img-1.png" alt="" class="img-fluid mx-auto d-block">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div id="jobselect">
                                                        <h5 class="f-18"><a href="#" class="text-dark">{{i.jobname}}</a></h5>
                                                        <p class="text-muted mb-0">{{i.companyname}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div>
                                                        <p class="text-muted mb-0"><i class="mdi mdi-map-marker text-primary mr-2"></i>{{i.location}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div>
                                                        <p class="text-muted mb-0 mo-mb-2"><span class="text-primary">Rs.</span>{{i.salarypackage}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div>
                                                        <p class="text-muted mb-0">{{i.job_type}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="p-3 bg-light">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div>
                                                        <p class="text-muted mb-0 mo-mb-2"><span class="text-dark">Experience :</span>{{i.experience}} years</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    
                                                </div>
                                                <div class="col-md-2">
                                                    <div>
                                                        <a href="{% url 'applypage' pk=i.id %}" class="text-primary">Apply Now <i class="mdi mdi-chevron-double-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                          
                                        </div>



                                    </div>
                                    

                               {% endfor %}
                               {% endif %}    
                                    
                            </div>
                        </div>
                        
                                </div>
                            </div>
                            <!-- end row -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->


            

            <!-- end row -->
            <div class="row">
                <div class="col-lg-12 mt-4 pt-2">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination job-pagination mb-0 justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                    <i class="mdi mdi-chevron-double-left f-15"></i>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">
                                    <i class="mdi mdi-chevron-double-right f-15"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- end containar -->
    </section>
    <!-- all jobs end -->


    {% endblock %}

    