{% extends "app/base2.html " %}
{% block content %}
    <!-- Start home -->
    <section class="bg-half page-next-level"> 
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center text-white">
                        <h4 class="text-uppercase title mb-4">Pricing</h4>
                        <ul class="page-next d-inline-block mb-0">
                            <li><a href="index.html" class="text-uppercase font-weight-bold">Home</a></li>
                            <li><a href="#" class="text-uppercase font-weight-bold">Pages</a></li> 
                            <li>
                                <span class="text-uppercase text-white font-weight-bold">Pricing</span> 
                            </li> 
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end home -->
 
    <!-- PRICING START -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <div class="pricing-box border rounded pt-4">
                        <div class="pl-2 pr-2">
                            <h6 class="text-center text-uppercase font-weight-bold">Free</h6>
                            <p class="text-muted text-center mb-0 price mt-3 p-1"><span class="text-primary font-weight-normal h1"><sup class="h5">$</sup>00/</span>Month</p>
                            <div class="pricing-plan-item text-center">
                                <ul class="list-unstyled mb-4">
                                    <li class="text-muted"><i class="mdi mdi-minus mr-2"></i>Bandwidth: 1GB</li>
                                    <li class="text-muted"><i class="mdi mdi-minus mr-2"></i>Onlinespace: 50MB</li>
                                    <li class="text-muted"><i class="mdi mdi-minus mr-2"></i>Support: No</li>
                                    <li class="text-muted"><i class="mdi mdi-minus mr-2"></i>Domain: 5</li>
                                    <li class="text-muted"><i class="mdi mdi-minus mr-2"></i>Hidden Fees: No</li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="text-center border-top p-4">
                            <a href="#" class="btn btn-block btn-primary-outline">Buy now</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <div class="pricing-box border rounded pt-4">
                        <div class="pl-2 pr-2">
                            <h6 class="text-center text-uppercase font-weight-bold">Economy</h6>
                            <p class="text-muted text-center mb-0 price mt-3 p-1"><span class="text-primary font-weight-normal h1"><sup class="h5">$</sup>70/</span>Month</p>
                            <div class="pricing-plan-item text-center">
                                <ul class="list-unstyled mb-4">
                                    <li class="text-muted"><i class="mdi mdi-minus mr-2"></i>Bandwidth: 1.5GB</li>
                                    <li class="text-muted"><i class="mdi mdi-minus mr-2"></i>Onlinespace: 500MB</li>
                                    <li class="text-muted"><i class="mdi mdi-minus mr-2"></i>Support: Yes</li>
                                    <li class="text-muted"><i class="mdi mdi-minus mr-2"></i>Domain: 10</li>
                                    <li class="text-muted"><i class="mdi mdi-minus mr-2"></i>Hidden Fees: Yes</li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="text-center border-top p-4">
                            <a href="#" class="btn btn-block btn-primary">Buy now</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <div class="pricing-box border rounded pt-4">
                        <div class="pl-2 pr-2">
                            <h6 class="text-center text-uppercase font-weight-bold">Deluxe</h6>
                            <p class="text-muted text-center mb-0 price mt-3 p-1"><span class="text-primary font-weight-normal h1"><sup class="h5">$</sup>95/</span>Month</p>
                            <div class="pricing-plan-item text-center">
                                <ul class="list-unstyled mb-4">
                                    <li class="text-muted"><i class="mdi mdi-minus mr-2"></i>Bandwidth: 2GB</li>
                                    <li class="text-muted"><i class="mdi mdi-minus mr-2"></i>Onlinespace: 1GB</li>
                                    <li class="text-muted"><i class="mdi mdi-minus mr-2"></i>Support: Yes</li>
                                    <li class="text-muted"><i class="mdi mdi-minus mr-2"></i>Domain: 15</li>
                                    <li class="text-muted"><i class="mdi mdi-minus mr-2"></i>Hidden Fees: No</li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="text-center border-top p-4">
                            <a href="#" class="btn btn-block btn-primary-outline">Buy now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- PRICING END -->

    <!-- CTA START -->
    <section class="section cta-bg" style="background: url('https://via.placeholder.com/2000X1333//88929f/5a6270C/O https://placeholder.com/') center center;">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-md-9">
                    <div class="cta">
                        <h4 class="text-white mb-4">Become a part of Jobya bussiness community today</h4>
                        <p class="text-white-50">At vero at a accusamus dignissimos ducimus deleniticorrupti that at blanditiis praesentium deleniticorrupti quos dolores molesti excepturi occaecati similiquesunt culpa officia at deserunt.</p>
                    </div>
                    <div class="mt-4">
                        <a href="#" class="btn btn-primary">Get started</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- CTA END -->

{% endblock %}