{% extends "app/base2.html " %}
{% block content %}
    <!-- Start home -->
    <section class="bg-half page-next-level"> 
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center text-white">
                        <h4 class="text-uppercase title mb-4">About Us</h4>
                        <ul class="page-next d-inline-block mb-0">
                            <li><a href="{% url 'indexpage2' %}" class="text-uppercase font-weight-bold">Home</a></li>
                            <li><a href="#" class="text-uppercase font-weight-bold">Pages</a></li> 
                            <li>
                                <span class="text-uppercase text-white font-weight-bold">Privacy Policy</span> 
                            </li> 
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end home -->

    <!-- ABOUT US START -->
    <section class="section">
        <div class="container">
            <div class="row align-items-center">
               
                <div class="col-lg-7 col-md-8">
                    <div class="about-desc ml-lg-4">
                        <center><h4 class="text-dark"><h1>Privacy Policy</h1></center>
                        <br>

                        <p class="text-muted"><h2>Welcome to <h1>Dream Job Success Life !    </h6> the world's largest professional network with more than
                            830 million members In this job is available for all the states of India.</h6> </p>

                       
                       
                       <br/>
                       <br/>
                                              
                       
                       
                            <center><h4 class="text-dark"><h2>Privacy Policy Matter</h2></center>
                       
                            <p >
                                <h6>
                                Dream job Successs life  mission is to connect the india's professionals to allow them to be more productive and successful. Central to this mission is our commitment to be transparent about the data we collect about you, how it is used and with whom it is shared.
                                </h6>
                            </p>

                        <br/>
                            <center><h4 class="text-dark"><h2>Introduction</h2></center>
                       
                            <p>
                                <h6>
                                     We are a social network and online platform for professionals. People use our Services to find and be found for business opportunities, to connect with others and find information. Our Privacy Policy applies to any Member or Visitor to our Services.<h1></p>
                                </h6>
                            <p><h6>
                            Our registered users (“Members”) share their professional identities, engage with their network, exchange knowledge and professional insights, post and view relevant content, learn and develop skills, and find business and career opportunities. Content and data on some of our Services is viewable to non-members (“Visitors”)
                                </h6>
                            </p>

                            <br/>
                            <center><h4 class="text-dark"><h2>Data Controllers and Contracting Parties</h2></center>
                       
                            <p>
                                <h6>
                                If you are outside of the Designated Countries, Dream job Succcess  Life Corporation will be the controller of your personal data provided to, or collected by or for, or processed in connection with, our Services.
                                    </h6>
                            </p>    
                            
                            <p>
                                <h6>
                                    As a Visitor or Member of our Services, the collection, use and sharing of your personal data is subject to this Privacy Policy and other documents referenced in this Privacy Policy, as well as updates.
                                </h6>
                            </p>

                            <br/>
                            <center><h4 class="text-dark"><h2>Changes</h2></center>
                       
                            <p>
                                <h6>
                                    Changes to the Privacy Policy apply to your use of our Services after the “effective date.”
                                </h6>
                            </p>    
                            
                            <p>
                                <h6>
                                    Dream Job Success Life ! (“we” or “us”) can modify this Privacy Policy, and if we make material changes to it, we will provide notice through our Services, or by other means, to provide you the opportunity to review the changes before they become effective. If you object to any changes, you may close your account.      
                                </h6>
                            </p>

                            
                            <p>
                                <h6>
                                    You acknowledge that your continued use of our Services after we publish or send a notice about our changes to this Privacy Policy means that the collection, use and sharing of your personal data is subject to the updated Privacy Policy, as of its effective date.


                                </h6>
                            </p>


                            <br/>
                            <h4 class="text-dark"><h2>1. Data We Collect</h2>
                            <h3 class="text-dark">1.1 Data you  provide to us</h3>
                                
                       <center>
                            <p>
                                <h6>
                                    You provide data to create an account with us.    
                                </h6>
                            </p>
                        </center>    
                            
                            <p>
                                <h4>
                                    Registration
                                </h4>
                            </p>

                            
                            <p>
                                <h6>
                                    To create an account you need to provide data including your name, email address and/or mobile number, and a password.

                                </h6>
                            </p>

                            <center>
                                <p>
                                     <h6>
                                        You create your LinkedIn profile (a complete profile helps you get the most from our Services).
                                    </h6>

                                </p>
                            </center>

                            <br/>
                                
                            
                            <p>
                                <h4>
                                    Profile
                                </h4>
                            </p>

                            
                            <p>
                                <h6>
                                    You have choices about the information on your profile, such as your education, work experience, skills, photo, city or area and endorsements. Some Members may choose to complete a separate ProFinder profile. You don’t have to provide additional information on your profile; however, profile information helps you to get more from our Services, including helping recruiters and business opportunities find you. It’s your choice whether to include sensitive information on your profile and to make that sensitive information public. Please do not post or add personal data to your profile that you would not want to be publicly available.
                                </h6>
                            </p>

                            <center>
                                <p>
                                     <h6>
                                        You give other data to us, such as by syncing your address book or calendar.
                                    </h6>
                                        
                                </p>
                            </center>


                            <br/>
                                
                            
                            <p>
                                <h4>
                                    Carrier 
                                </h4>
                            </p>

                            
                            <p>
                                <h6>
                                    Our Services allow you to explore careers, evaluate educational opportunities, and seek out, and be found for, career opportunities. Your profile can be found by those looking to hire (for a job or a specific task) or be hired by you. We will use your data to recommend jobs or mentees, show you and others relevant professional contacts (e.g., who work at a company, in an industry, function or location or have certain skills and connections). You can signal that you are interested in changing jobs and share information with recruiters. We will use your data to recommend jobs to you and you to recruiters. We may use automated systems to provide content and recommendations to help make our Services more relevant to our Members, Visitors and customers. Keeping your profile accurate and up-to-date may help you better connect to others and to opportunities through our Services.      
                                </h6>
                            </p>
 
                            
                            <br/>
                                
                            
                            <p>
                                <h4>
                                    Customer Support 
                                </h4>
                            </p>

                            
                            <p>
                                <h6>
                                    We use data (which can include your communications) to investigate, respond to and resolve complaints and for Service issues (e.g., bugs).  </h6>
                            </p>


                            
                            <br/>
                                
                            
                            <p>
                                <h4>
                                    Security
                                </h4>
                            </p>

                         <center>   
                            <p>
                                <h6>
                                    We monitor for and try to prevent security breaches. Please use the security features available through our Services.
                                </h6>       
                            </p>
                        </center>

                        <p>
                            <h6>
                                We implement security safeguards designed to protect your data, such as HTTPS. We regularly monitor our systems for possible vulnerabilities and attacks. However, we cannot warrant the security of any information that you send us. There is no guarantee that data may not be accessed, disclosed, altered, or destroyed by breach of any of our physical, technical, or managerial safeguards. Please visit our Safety Center for additional information about safely using our Services, including two-factor authentication.   </h6>       
                        </p>

                        
                        <br/>
                                
                            
                        <p>
                            <h4>
                                Contact Information
                            </h4>
                        </p>

                     <center>   
                        <p>
                            <h6>
                                You can contact us or use other options to resolve any complaints.
                            </h6>       
                        </p>
                    </center>

                    <p>
                        <h6>
                            f you have questions or complaints regarding this Policy, please first contact Dream Job Success Life ! online. You can also reach us by physical mail. If contacting us does not resolve your complaint, you have more options. Residents in the Designated Countries and other regions may also have the right to contact our Data Protection Officer here.If this does not resolve your complaint, Residents in the Designated Countries and other regions may have more options under their laws.
                        </h6>       
                    </p>


                    <br/>
                                
                            
                    <p>
                        <h4>
                            Other Services
                        </h4>
                    </p>

                 
                    <p>
                        <h6>
                            Subject to your settings, other services may look up your profile. When you opt to link your account with other services, personal data will become available to them. The sharing and use of that personal data will be described in, or linked to, a consent screen when you opt to link the accounts. For example, you may link your Twitter or WeChat account to share content from our Services into these other services, or your email provider may give you the option to upload your LinkedIn contacts into its own service. Third-party services have their own privacy policies, and you may be giving them permission to use your data in ways we would not. You may revoke the link with such accounts.
                        </h6>       
                    </p>
                
                
                    <br/>
                                
                            
                    <p>
                        <h4>
                            Serices website
                        </h4>
                    </p>

                    <p>
                        <h6>
                            1. Serch job very Fast .
                        </h6>
                    </p>

                    <p>
                        <h6>
                            2. Find job Easily .
                        </h6>
                    </p>
                    
                    <p>
                        <h6>
                            4. Very secured website
                        </h6>
                    </p>

                 
                    <p>
                        <h6>

                            5. This website make used by django framework.
                        </h6>       
                    </p>


                        </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ABOUT US END -->

    <!-- COUNTER START -->
    <section class="section bg-light">
        <div class="container">
            <div class="blog-post-counter">
                <div class="row" id="counter">
                    <div class="col-md-3 col-6 border-right">
                        <div class="p-4">
                            <div class="blog-post counter-content text-center">
                                <h1 class="counter-value font-weight-light text-dark mb-2" data-count="2030">0</h1>
                                <p class="counter-name text-muted f-15 text-uppercase mb-2">Jobs</p>
                                <i class="mdi mdi-account-multiple h3 text-muted"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-6 border-right">
                        <div class="p-4">
                            <div class="blog-post counter-content text-center">
                                <h1 class="counter-value font-weight-light text-dark mb-2" data-count="3500">0</h1>
                                <p class="counter-name text-muted f-15 text-uppercase mb-2">Applications</p>
                                <i class="mdi mdi-file h3 text-muted"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-6 border-right">
                        <div class="p-4">
                            <div class="blog-post counter-content text-center">
                                <h1 class="counter-value font-weight-light text-dark mb-2" data-count="1250">0</h1>
                                <p class="counter-name text-muted f-15 text-uppercase mb-2">Companies</p>
                                <i class="mdi mdi-bank h3 text-muted"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="p-4">
                            <div class="blog-post counter-content text-center">
                                <h1 class="counter-value font-weight-light text-dark mb-2" data-count="4000">0</h1>
                                <p class="counter-name text-muted f-15 text-uppercase mb-2">Employers</p>
                                <i class="mdi mdi-account-group h3 text-muted"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- COUNTER END -->


  {% endblock %}