{% extends "app/base2.html " %}
{% block content %}
    <!-- Start home -->
    <section class="bg-half page-next-level"> 
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center text-white">
                        <h4 class="text-uppercase title mb-4">Support </h4>
                        <ul class="page-next d-inline-block mb-0">
                            <li><a href="{% url 'indexpage2' %}" class="text-uppercase font-weight-bold">Home</a></li>
                            <li><a href="#" class="text-uppercase font-weight-bold">Pages</a></li> 
                            <li>
                                <span class="text-uppercase text-white font-weight-bold">Support</span> 
                            </li> 
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end home -->

    <!-- ABOUT US START -->
    <section class="section">
        <div class="container">
            <div class="row align-items-center">
               
                <div class="col-lg-7 col-md-8">
                    <div class="about-desc ml-lg-4">
                        <center><h4 class="text-dark"><h1>Support</h1></center>
                        <br>

                        <p class="text-muted"><h2>Welcome to <h1>Dream Job Success Life !    </h6> the world's largest professional network with more than
                            830 million members In this job is available for all the states of India.</h6> </p>

                       
                       
                       <br/>
                       <br/>
                                              
                       
                       
                            
                 
                    <p>
                        <h6>

                            Our Services allow you to explore careers, evaluate educational opportunities, and seek out, and be found for, career opportunities. Your profile can be found by those looking to hire (for a job or a specific task) or be hired by you. We will use your data to recommend jobs or mentees, show you and others relevant professional contacts (e.g., who work at a company, in an industry, function or location or have certain skills and connections). You can signal that you are interested in changing jobs and share information with recruiters. We will use your data to recommend jobs to you and you to recruiters. We may use automated systems to provide content and recommendations to help make our Services more relevant to our Members, Visitors and customers. Keeping your profile accurate and up-to-date may help you better connect to others and to opportunities through our Services.
                        </h6>       
                    </p>

                    <p>
                        <h6>
                         This website using Change your life . And Get job  very easily .

                        </h6>
                    </p>

                    <p>
                        <h6>
                         Dreme job  Success life ! is success your life .  
                        </h6>
                    </p>


                    <p>
                        <h6>
                         Dreme job  Success life ! are Various job available . 
                        </h6>
                    </p>

                    
                    <p>
                        <h6>
                            Our Services help you connect with others, find and be found for work and business opportunities, stay informed, get training and be more productive.

                        </h6>
                    </p>

                    <br/>
                    <br/>
                    <p>
                        <h2>
                         Security Support 
                        </h2>
                    </p>

                    
                    <p>
                        <h6>
                            We use your data (including your communications) for security purposes or to prevent or investigate possible fraud or other violations of our User Agreement and/or attempts to harm our Members, Visitors or others.
                        </h6>
                    </p>

                    <br/>
                    <br/>
                    <p>
                        <h2>
                         Customer Support 
                        </h2>
                    </p>

                    
                    <p>
                        <h6>
                            We use data (which can include your communications) to investigate, respond to and resolve complaints and for Service issues (e.g., bugs).
                        </h6>
                    </p>
                    
                    
                    <br/>
                    <br/>
                    <p>
                        <h2>
                         Communication  Support 
                        </h2>
                    </p>

                    
                    <p>
                        <h6>
                            We will contact you through email, mobile phone, notices posted on our websites or apps, messages to your LinkedIn inbox, and other ways through our Services, including text messages and push notifications. We will send you messages about the availability of our Services, security, or other service-related issues. We also send messages about how to use our Services, network updates, reminders, job suggestions and promotional messages from us and our partners. You may change your communication preferences at any time. Please be aware that you cannot opt out of receiving service messages from us, including security and legal notices.
                        </h6>
                    </p>

                    <p>
                        <h6>
                            We also enable communications between you and others through our Services, including for example invitations, InMail, groups and messages between connections. 
                        </h6>
                    </p>

                    <br/>
                    <br/>
                    <p>
                        <h2>
                         Services  Support 
                        </h2>
                    </p>

                    
                    <p>
                        <h6>
                            Our Services help you connect with others, find and be found for work and business opportunities, stay informed, get training and be more productive.
                        </h6>
                    </p>

                    <p>
                        <h6>
                            We use your data to authorize access to our Services and honor your settings. 
                        </h6>
                    </p>


                    
                    <br/>
                    <br/>
                    <p>
                        <h2>
                            Sites and Services of Others Support 
                        </h2>
                    </p>

                    
                    <p>
                        <h6>
                            We get data when you visit sites that include our ads, cookies or some of our plugins or when you log-in to others’ services with your LinkedIn account.
                        </h6>
                    </p>

                    <p>
                        <h6>
                            We receive information about your visits and interaction with services provided by others when you log-in with LinkedIn or visit others’ services that include some of our plugins (such as “Apply with LinkedIn”) or our ads, cookies or similar technologies. 
                        </h6>
                    </p>


                    
                    <br/>
                    <br/>
                    <p>
                        <h2>
                             Other Support 
                        </h2>
                    </p>

                    
                    <p>
                        <h6>
                            We are improving our Services, which means we get new data and create new ways to use data.
                        </h6>
                    </p>

                    <p>
                        <h6>
                            Our Services are dynamic, and we often introduce new features, which may require the collection of new information. If we collect materially different personal data or materially change how we collect, use or share your data, we will notify you and may also modify this Privacy Policy.
                        </h6>
                    </p>
                </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ABOUT US END -->

    <!-- COUNTER START -->
    <section class="section bg-light">
        <div class="container">
            <div class="blog-post-counter">
                <div class="row" id="counter">
                    <div class="col-md-3 col-6 border-right">
                        <div class="p-4">
                            <div class="blog-post counter-content text-center">
                                <h1 class="counter-value font-weight-light text-dark mb-2" data-count="2030">0</h1>
                                <p class="counter-name text-muted f-15 text-uppercase mb-2">Jobs</p>
                                <i class="mdi mdi-account-multiple h3 text-muted"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-6 border-right">
                        <div class="p-4">
                            <div class="blog-post counter-content text-center">
                                <h1 class="counter-value font-weight-light text-dark mb-2" data-count="3500">0</h1>
                                <p class="counter-name text-muted f-15 text-uppercase mb-2">Applications</p>
                                <i class="mdi mdi-file h3 text-muted"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-6 border-right">
                        <div class="p-4">
                            <div class="blog-post counter-content text-center">
                                <h1 class="counter-value font-weight-light text-dark mb-2" data-count="1250">0</h1>
                                <p class="counter-name text-muted f-15 text-uppercase mb-2">Companies</p>
                                <i class="mdi mdi-bank h3 text-muted"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="p-4">
                            <div class="blog-post counter-content text-center">
                                <h1 class="counter-value font-weight-light text-dark mb-2" data-count="4000">0</h1>
                                <p class="counter-name text-muted f-15 text-uppercase mb-2">Employers</p>
                                <i class="mdi mdi-account-group h3 text-muted"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- COUNTER END -->


  {% endblock %}